{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
<h2>
    Home Page
</h2>
    <div class="center-block">
        Log in to see your todo list
        <a class="btn btn-primary" href="{{ path('list') }}">Log in</a>
    </div>
{% endblock %}
