{% extends 'base.html.twig' %}
{% block title %}
    Edit your Todos
{% endblock %}
{% block button %}Save{% endblock %}
{% block body %}
    <h2 class='page-header'>Edit Todos</h2>
    {{ include('include/form.html.twig', {'form':form, 'button' : 'Save', 'context' : 'list', action: 'edit'}) }}
{% endblock %}