{% extends 'base.html.twig' %}
{% block title %}
    List
{% endblock %}
{% block list %}active{% endblock %}

{% block body %}
    <h2>Your List</h2>
    {{ include('include/list.html.twig', {'todos' : todos,'list_id' : 0, 'context' : 'list'}) }}
{% endblock %}
